@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: default;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

a {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  cursor: text !important;
}

html {
  overflow-y: overlay;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: url(../assets/bg.png);
  background-position: top;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #c090ff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #401c7a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #511a99;
}
